<h1> Welcome to Super Rentals </h1>

We hope you find exacly what you're looking for in a place to stay.

<h2> Available Rentals </h2>

<ul>
  {{#each model.rentals as |rental|}}
    {{rental-tile rental=rental}} {{rental-cost rental}}
  {{/each}}
</ul>

<h2> Cities </h2>

<ul>
  {{#each model.cities as |city|}}
    <li>{{city-popularity city}} {{#link-to 'city' city.id}}{{city.name}}{{/link-to}}</li>
  {{/each}}
</ul>

{{new-city saveCity="saveCity"}}

<hr>

{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Contact{{/link-to}}
